<div class="row">
  <div class="column">
    <div class="logoFooter">
      <a href="./index.html">
        <img
          src="./images/whiteBookLogo.png"
          rel="images"
          max
          width="70px"
          alt="book"
        />
      </a>
      <h1 class="whiteCloud">Cloud<span style="color: #616161">Shelf</span></h1>
    </div>
    <div class="address">
      <p>
        BRIGHAM YOUNG UNIVERSITY-IDAHO<br />
        <b>Address: </b>525 S Center St, Rexburg, ID 83460, United States
      </p>
    </div>
  </div>
  <div class="column">
    <div class="footerMenu">
      <li><a href="./index.html">Why CloudShelf</a></li>
      <li><a href="./library.html">My Library</a></li>
      <li><a href="">Dark Mode</a></li>
    </div>
  </div>
  <div class="column">
    <div class="links">
      <p>
        <a
          href="https://github.com/Wmsmckay/WDD330-groupProject"
          target="_blank"
          >Site Source Code<br
        /></a>
        &copy; 2022 TeamAwesome <br />
        PROGRAMMERS <br />
        <a href="https://github.com/Wmsmckay" target="_blank"
          >○ McKay's Github<br
        /></a>
        <a href="https://github.com/JmmonJeremy" target="_blank"
          >○ Jeremy's Github<br
        /></a>
        <a href="https://github.com/exttonymoraes" target="_blank"
          >○ Tony's Github<br
        /></a>
        <a href="https://github.com/CherellePayne" target="_blank"
          >○ Cherelle's Github<br
        /></a>
        <a href="https://github.com/LawrenceYamete" target="_blank"
          >○ Lawrence's Github<br
        /></a>
      </p>
    </div>
  </div>
  <div class="column1">
    <div class="socialMedia">
      <p>Follow us on our Social Media Sites</p>
      <br />
      <a href="https://github.com/Wmsmckay/WDD330-groupProject" target="_blank">
        <img
          src="./images/githubIcon.png"
          max
          width="50"
          rel="images"
          alt="Github Icon"
        />
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img
          src="./images/FacebookIcon.png"
          max
          width="50"
          rel="images"
          alt="Github Icon"
        />
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img
          src="./images/YoutubeIcon.png"
          max
          width="50"
          rel="images"
          alt="Github Icon"
        />
      </a>
    </div>
  </div>
</div>
