/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
    display: none;
  }
  /*HAMBURGER MENU*/
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      background-color: var(--tertiary-color);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .menu li:hover {
      display: inline-block;
      background-color: var(--quaternary-color);
      transition: 0.3s ease;
    }
    .menu li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
    .hamburger {
      display: block;
    }
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
    .dropdown li:hover {
      background-color: var(--primary-color);
    }
  }
  /* Banner */
  .banner-image {
    background-image: url("../images/booksHero.png");
    background-color: #6c7489; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
  .banner h2 {
    font-size: 4rem;
    padding: 2rem 1rem 1rem 3rem;
    color: var(--dark-grey);
  }
  .banner p {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 2rem 0.2rem 3rem;
  }
  
  .bookshelf {
    margin-left: 5rem;
  }
  .bookshelf img {
    flex-wrap: wrap;
    margin: 2rem 2rem 2rem 2rem;
  }
  
  .banner form {
    font-size: 3rem;
    padding: 0.2rem 1rem 2rem 3rem;
  }
  .banner2 p {
    font-size: 1.75rem;
    padding: 3.5rem 3.5rem 3.5rem 3.5rem;
    color: var(--dark-grey);
  }
  .main-footer {
    font-size: 0.4;
  }
  
  .footer-banner p {
    color: var(--primary-color);
    background-color: var(--dark-grey);
    size: 10rem;
    padding: 3em 3em 3em 3em;
  }
  .wrapper {  
    display: grid; 
    grid-template-columns: repeat(auto-fill, 20rem); 
     }
  
     .wrapper{
       padding-left: 5em;
      display: flex; 
     flex-direction: row; 
       }
     
  
  
  
  /* tabs line 92 to 344 */
  .tabs {
    list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
  }
  .tabs:after {
    content: '';
    display: table;
    clear: both;
  }
  .tabs input[type=radio] {
    display:none;
  }
  .tabs label {
    display: inline-block;
    min-width: 25%;
   flex: 1 1 25%;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
  }
  
  .tabs label span {
    display: none;
   font-size: 1rem;
  }
  
  .tabs label:hover {
    color: var(--primary-color);
  
  .icon {
      border-color: #3498db;
    background-position: 50px 0;
    background-size: 100px 50px;
  }
  }
  
  .tab__content {
    display: none;
   text-align: center;
    width: 80%;
   margin: 0 auto;
    box-sizing: border-box;
    background-color:#ffffff;
   margin-top: 2rem;
  }
  
  .tab__content * {
    -webkit-animation: scale 0.2s ease-in-out;
    -moz-animation: scale 0.2s ease-in-out;
    animation: scale 0.2s ease-in-out;
  }
  @keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  }
  
  .tabs [id^="tab"]:checked + label {
    background: #FFF;
    color: #3498db;
  }
  
  .tabs [id^="tab"]:checked + label i {
    border-color: #3498db;
   background-position: 50px 0;
   background-size: 100px 50px;
  }
  
  // #tab1:checked ~ #tab__content--1,
  // #tab2:checked ~ #tab__content--2,
  // #tab3:checked ~ #tab__content--3,
  // #tab4:checked ~ #tab__content--4,{
  //     display: block;
  // }
  
  @media (min-width: 768px) {
    .tabs label span {
        display: block;
    }
  }
  
  .icon {
  margin-top: 1rem;
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  border: 2px solid #CACFD6;
  background-size: 100px 50px;
  box-sizing: border-box;
  }
  
  .email-cal {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_sync.png');
  background-position: 0 0;
  background-size: 100px 50px;
  }
  
  .snapshot {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_snapshots.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }
  
  .inbox-apps {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_templates.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }
  
  .log-calls {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_log_call.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }
  
  .tracking {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_tracking.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }
  
  .book-meetigns {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_book_meeting.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }
  
  .send-later {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_send_later.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }
  
  .follow-up {
  background: white url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/icon_--_follow_up.png');
  background-size: 100px 50px;
  background-position: 0 0;
  }