/* Fixed on between 773px to 900px */
/* The search bar exeeding outside the margin of the website */
/* Try to comment this code and pick iPad Air dimensions */
/* @media only screen and (max-width: 900px) {
  .search-container input {
    width: 100%;
  }
  .search-container form {
    width: 100%;
  }
} */

/* 69em = 1104px with 16px base */
@media only screen and (min-width: 768px) {
  .card_size {
    width: 400px;
  }
  /* NAVBAR STYLING STARTS */
  .navbar {
    display: grid;
    /* gap: 1em; */
    grid-template-columns: 15% auto 35%;
    border: none;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 20px; */
    /* background-color: var(--tertiary-color); */
    /* color: #000; */
    /* padding: 1em; */
  }
  .menu {
    border: none;
  }

  .navbar img {
    /* width: 100%; */
  }

  .search-container {
    grid-column: 3/4;
  }
  .search-container form {
    text-align: initial;
  }
}
