/* Fixed on between 773px to 900px */
/* The search bar exeeding outside the margin of the website */
/* Try to comment this code and pick iPad Air dimensions */

/* 69em = 1104px with 16px base */
@media only screen and (min-width: 881px) {
  .card_size {
    width: 400px;
  }
  /* NAVBAR STYLING STARTS */
  .navbar {
    display: grid;
    /* gap: 1em; */
    grid-template-columns: 15% auto 50%;
    border: none;
  }
  .menu li{
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    transition: transform .2s;
  }

  .menu li:hover{
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgba(255,200,0,0.5);
    transition: transform .2s;
    transform: scale(1.1);  
  }

  .menu {
    border: none;
    text-align: center;
    align-items: center
  };
  .navbar img {
    /* width: 100%; */
  }

  .search-container {
    grid-column: 3/4;
  }
  .search-container form {
    text-align: initial;
  }
}
