/* styling for 641px to 880px */

@media only screen and (min-width: 641px){
  .navbar h1 {
    font-family: var(--font-headline);
    font-size: 4.4rem;
    padding-left: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  /* Hero Text Banner */

  .textHero {
    padding-top: 90px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }

  .h2Hero {
    text-align: left;
    font-size: 40px;
    color: white;
    padding-left: 80px;
  }

  .pHero {
    color: white;
    text-align: left;
    padding-top: 10px;
    font-size: 25px;
    padding-left: 150px;
  }

  .banner2 img{
    padding: 1rem 4.5rem 1rem 4.5rem;
    align-items: center;
    max-width: 40rem;
   }

}
