/************************** START OF VARIABLES USED IN CSS ********************************************/
:root {
  --font-body: "Roboto", sans-serif;
  --font-headline: "Lato", sans-serif;
  --font-family: "Montserrat Alternates", sans-serif;

  /* colors- Dark Mode */
  --primary-color: #1ad4ba;
  --secondary-color: #ec1bbc;
  --tertiary-color: #ffbf69;
  --quaternary-color: #b86eeb;
  --black: #000000;
  --light-grey: #c6c6c6;

  /* colors-Regular */
  --primary-color: #2ec4b6;
  --secondary-color: #cbf3f0;
  --tertiary-color: #ffbf69;
  --quaternary-color: #ff9f1c;
  --white: #ffffff;
  --dark-grey: #303030;

  /* colors-hyperlinks */
  --link-main: rgb(0, 162, 255);
  --link-visited: rgb(221, 2, 221);
  --link-hover: rgb(229, 126, 24);
  --link-active: rgba(255, 0, 0, 0.5);

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.6em;
}

/*  || UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* ||NAVBAR STYLING */
.navbar {
  display: grid;
  gap: 1em;
  grid-template-columns: 15% auto 10%;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 20px; */
  background-color: var(--tertiary-color);
  color: #000;
  padding: 1em;
}
.navbar img {
  width: 100%;
}

.search-container {
  grid-column: 1/4;
  width: 100%;
}

.search-container input {
  width: 300px;
  height: 50px;
  margin: auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
.search-container form {
  margin: auto;
  text-align: center;
}

input[type="search"] {
  transition: width 0.5s ease-in-out;
}

input[type="search"]:focus {
  width: 100%;
  text-align: left;
}

.nav-links a {
  color: #000;
}
/* LOGO */
.logo {
  font-size: 22px;
  display: flex;
  align-items: center;
  max-width: 100px;
}
/* NAVBAR MENU */

/* CSS hamburger */
/* Hamburger */
.hamburger1 {
  height: 45px;
  /* margin: 10px; */
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#toggle1 {
  display: none;
}
#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}
#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
#toggle1:checked ~ .menu {
  height: 150px;
}
/* end css hamburger */

.menu {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  font-size: 18px;
  border: 1px solid #000;
}

/* .menu li */
.menu li:hover {
  border-radius: 5px;
  transition: 1.3s ease;
}
.menu li {
  padding: 5px 14px;
}


/* HYPERLINK STYLING */
footer a:link {
  color: var(--link-main);
  background-color: transparent;
  text-decoration: none;
}

footer a:visited {
  color: var(--link-visited);
  background-color: transparent;
  text-decoration: none;
}

footer a:hover {
  color: var(--link-hover);
  background-color: transparent;
  text-decoration: underline;
}

footer a:active {
  color: var(--link-active);
  background-color: transparent;
  text-decoration: underline;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 880px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--tertiary-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: var(--quaternary-color);
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

/* Banner */
.banner-image {
  background-color: #6c7489;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.banner h2 {
  font-size: 4rem;
  padding: 2rem 1rem 1rem 3rem;
  color: var(--dark-grey);
}
.banner p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem 0.2rem 3rem;
}

/* Banner  Smaller for library results page */
.bannerS-image {
  /* background-image: url("../images/Booksstack.png"); */
  background-color: #6c7489; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.bannerS h2 {
  font-size: 4rem;
  padding: 2rem 1rem 1rem 3rem;
  color: var(--dark-grey);
}
.bannerS p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem 0.2rem 3rem;
}
.bookshelf {
  /* margin-left: 5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookshelf img {
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 2rem;
}

/* .banner form {
  font-size: 3rem;
  padding: 0.2rem 1rem 2rem 3rem;
} */
.banner2 p {
  font-size: 1.75rem;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  color: var(--dark-grey);
  text-align: center;
}

/* library toogle wrapper... extra code, needs to be cleaned up */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
}

.wrapper {
  /* padding-left: 5em; */
  display: flex;
  flex-direction: row;
}

/* Footer Code to be cleaned up */
.main-footer {
  font-size: 0.4;
  background-color: #303030;
}

.footer-banner p {
  color: var(--primary-color);
  size: 10rem;
  padding: 3em 3em 3em 3em;
}

/* Create three equal columns that floats next to each other */
.column {
  background-color: #303030;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  border: 1px solid black;
  outline: none;
  padding: 5px 5px;
  margin: 0.5em;
  background-color: white;
  background-color: rgba(255, 150, 0, 0.3);
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
}

button.btnI {
  display: none;
}

/* trying to style the info button to be smaller */
/* .btn #small{
  inheritance:only-child;
  border: 10px;
  outline: none;
  padding: 4px 6px !important;
  background-color: white;
  cursor: pointer;
  font-size: 1px;
  border-radius: 8px;
} */



/* Style the active class, and buttons on mouse-over */
.active {
  background-color: var(--quaternary-color);
  border: none;
  color: white;
  border-radius: 8px;
  transform: scale(110%);
}
.btn:hover {
  border: none;
  background-color: var(--tertiary-color);
  color: white;
  border-radius: 8px;
  transform: scale(115%);
}

/* Design for results page search results */

.searchResults {
  max-width: 700px;
  margin: auto;
}

.searchResults h2 {
  padding: 30px 30px 0 30px;
}

/* Search results back button */
.greenButton {
  margin: 2em;
  /* margin-left: 2em; */
  /* margin-top: 2em; */
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
}
.greenButton:hover {
  background-color: #ddd;
  color: black;
}

.result-div {
  margin: 1em 1em;
  display: grid;
  grid-template-columns: 25% 75%;
  /* align-items: center; */
  border: 1px solid var(--black);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.08);
}

.book-details {
  float: right;
  padding: 0.5em;
}

.book_count {
  display:flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.specialCount {
  display: block;
  margin: .5rem 0 .75rem .5rem;
  color: #fcd000;
  font-size: 1.5rem;
  font-weight: bold; 
  --size: 32px;  
  line-height: var(--size);
  width: var(--size);
  height: var(--size);  
  transform: rotate(-5deg);
  background: rgb(138, 137, 137);
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}

.result-div img {
  /* margin-right: 0.5em; */
  grid-column: 1;
  padding: 0.5em;
  width: 100%;
  border-radius: 10px;
}

.shelf_label {
  font-size: 12px;
  text-align: center;
}

/************ START OF Responsive both image and details on each phone and tablet ************/
@media only screen and (max-width: 32em) {
  .result-div img {
    margin: auto;
    width: 70%;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .result-div .book-details {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
/*************** END OF Responsive both image and details on each phone and tablet ************/

/********************* START OF CSS FOR MODAL POP-UP BOOK DETAILS PAGE ************************/
.details_bttn {
  grid-column: 2;
  width: fit-content;
  margin: -3rem 1.6rem 1rem auto;
  background-color: var(--quaternary-color);
  padding: 0 .5rem;
  border: 3px outset white;
  cursor: pointer;
}

.details_bttn:hover {
  background-color: rgb(176, 103, 0);
  color: white;
}

button.details_bttn:active {
  background-color: green;
  color: white;
  transition: 0.05s;
  transform: scale(1.05);
}

/********************* END OF CSS FOR MODAL POP-UP BOOK DETAILS PAGE **************************/

/*************************** START OF CSS FOR BUTTONS ON BOOK CARDS ***************************/
.current_shelf {
  width:fit-content;
  margin: .5rem auto;
  background-color: var(--quaternary-color);
  border: none;
  font-size: 12px;
  border-radius: 7px;
  padding: 0.4em;
}

.addToShelfButtons button {
  /* float: center; */
  margin: 0.1em;
  background-color: var(--quaternary-color);
  border: none;
  /* color: var(--dark-grey); */
  color: black;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  border-radius: 7px;
}

.addToShelfButtons button:hover {
  background-color: var(--tertiary-color);
  color: rgb(100, 100, 100);
  transition: 0.3s ease;
}

.addToShelfButtons button:active {
  background-color: var(--tertiary-color);
  color: rgb(255, 255, 255);
}

button.book_delete {
  background-color: rgb(248, 63, 63);
  color: var(--white);
  border: 3px outset white;
  cursor: pointer;
}

.addToShelfButtons button.book_delete:hover {
  background-color: rgb(176, 0, 0);
  color: white;
}

button.book_add {
  background-color: var(--primary-color);
  color: var(--white);
  border: 3px groove white;
  cursor: pointer;
}

.addToShelfButtons button.book_add:hover {
  background-color: green;
  color: white;
}

.addToShelfButtons button.book_add:active {
  background-color: green;
  color: white;
  transition: 0.05s;
  transform: scale(1.05);
}
/*************************** END OF CSS FOR BUTTONS ON BOOK CARDS *****************************/

/**************************** START OF SHELF CARD SIZE & Title STYLING ************************/
#my_book_lists {
  /* max-width: 700px; */
  max-width: 98%;
  margin: auto;
}

div#MyLIB {
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card_size {
  max-width: 400px;
}

.shelf_title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--tertiary-color);
  border: 1px solid orange;
  width: fit-content;
}
/***************************** END OF SHELF CARD SIZE & Title STYLING *************************/

/**************************** START OF ALERT STYLING ******************************************/
p.alert, p.count_message {
  font-family: var(--font-family);
  font-size: var(--font-base);
  font-weight: 900;
  background-color: var(--tertiary-color);
  border: 1px solid orange;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  text-align: left;
  max-width: 500px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

p.count_message {
  margin-bottom: 2rem;
  margin-top: -2rem;
  max-width: 425px;
}

span.count {
  font-size: 2rem;
  font-weight: 900;
}
/**************************** END OF ALERT STYLING ********************************************/
