/************************** START OF VARIABLES USED IN CSS ********************************************/
:root {
  --font-body: "Roboto", sans-serif;
  --font-headline: "Lato", sans-serif;
  --font-family: "Montserrat Alternates", sans-serif;

  /* colors- Dark Mode */
  --primary-color: #1ad4ba;
  --secondary-color: #ec1bbc;
  --tertiary-color: #ffbf69;
  --quaternary-color: #b86eeb;
  --black: #000000;
  --light-grey: #c6c6c6;

  /* colors-Regular */
  --primary-color: #2ec4b6;
  --secondary-color: #cbf3f0;
  --tertiary-color: #ffbf69;
  --quaternary-color: #ff9f1c;
  --white: #ffffff;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.6em;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--tertiary-color);
  color: #000;
}
.nav-links a {
  color: #000;
}
/* LOGO */
.logo {
  font-size: 22px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: var(--quaternary-color);
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: var(--quaternary-color);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: var(--primary-color);
}
.library:hover .dropdown {
  display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--tertiary-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: var(--quaternary-color);
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: var(--primary-color);
  }
}
/* Banner */
.banner-image {
  background-image: url("../images/booksHero.png");
  background-color: #6c7489; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.banner h2 {
  font-size: 4rem;
  padding: 2rem 1rem 1rem 3rem;
  color: var(--dark-grey);
}
.banner p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem 0.2rem 3rem;
}

/* Banner  Smaller for library results page */
.bannerS-image {
  background-image: url("../images/Booksstack.png");
  background-color: #6c7489; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.bannerS h2 {
  font-size: 4rem;
  padding: 2rem 1rem 1rem 3rem;
  color: var(--dark-grey);
}
.bannerS p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem 0.2rem 3rem;
}
.bookshelf {
  margin-left: 5rem;
}
.bookshelf img {
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 2rem;
}

.banner form {
  font-size: 3rem;
  padding: 0.2rem 1rem 2rem 3rem;
}
.banner2 p {
  font-size: 1.75rem;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  color: var(--dark-grey);
}

/* library toogle wrapper... extra code, needs to be cleaned up */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
}

.wrapper {
  padding-left: 5em;
  display: flex;
  flex-direction: row;
}

/* Footer Code to be cleaned up */
.main-footer {
  font-size: 0.4;
  background-color: #303030;
}

.footer-banner p {
  color: var(--primary-color);
  size: 10rem;
  padding: 3em 3em 3em 3em;
}

/* Create three equal columns that floats next to each other */
.column {
  background-color: #303030;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
