/************************** START OF VARIABLES USED IN CSS ********************************************/
:root {
    --font-body: 'Roboto', sans-serif;
    --font-headline:'Lato', sans-serif;
    --font-family: 'Montserrat Alternates', sans-serif;

    /* colors- Dark Mode */
    --primary-color: #1AD4BA;
    --secondary-color: #EC1BBC;
    --tertiary-color: #FFBF69;
    --quaternary-color:#B86EEB;
    --black: #000000;
    --light-grey:#c6c6c6;

      /* colors-Regular */
      --primary-color: #2EC4B6;
      --secondary-color: #CBF3F0;
      --tertiary-color: #FFBF69;
      --quaternary-color:#ff9f1c;;
      --white: #FFFFFF;
      --dark-grey: #303030;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.6em;
  }

  /* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--tertiary-color);
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: var(--quaternary-color);
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 /* DROPDOWN MENU */
 .services {
  position: relative; 
 }
 .dropdown {
  background-color: var(--quaternary-color);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color: var(--primary-color);
 }
 .library:hover .dropdown {
  display: block;
 }
 /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color: var(--tertiary-color);
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:var(--quaternary-color);
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 .dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
 }
 .dropdown li:hover {
  background-color: var(--primary-color);
 }
 } 
 /* Banner */
 .banner-image {
  background-image: url("../images/5.png");
  background-color: #6c7489; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.banner h2{
  font-size: 5rem;
  padding: 3rem 3rem 3rem 3rem;
  color: var(--dark-grey);
} 
.banner p{
  color: #fff;
  font-size: 3rem;
  padding: 3rem 2rem .2rem 3rem;
}
.bookshelf{
  margin-left: 5rem;
}
.bookshelf img{
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 2rem;
}

.banner form{
  font-size: 3rem;
  padding: .2rem 1rem 2rem 3rem;
}
.banner2 p{
  font-size: 2.5rem;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  color: var(--dark-grey);
}
.main-footer{
  font-size: .4;
}

.footer-banner p{
  color: var(--primary-color);
  background-color: var(--dark-grey);
  size: 10rem;
  padding: 3em; 3em; 3em; 3em;
}