/************************** START OF VARIABLES USED IN CSS ********************************************/
:root {
  --font-body: "Roboto", sans-serif;
  --font-headline: "Lato", sans-serif;
  --font-family: "Montserrat Alternates", sans-serif;

  /* colors- Dark Mode */
  --primary-color: #1ad4ba;
  --secondary-color: #ec1bbc;
  --tertiary-color: #ffbf69;
  --quaternary-color: #b86eeb;
  --black: #000000;
  --light-grey: #c6c6c6;

  /* colors-Regular */
  --primary-color: #2ec4b6;
  --secondary-color: #cbf3f0;
  --tertiary-color: #ffbf69;
  --quaternary-color: #ff9f1c;
  --white: #ffffff;
  --dark-grey: #303030;

  /* colors-hyperlinks */
  --link-main: blue;
  --link-visited: purple;
  --link-hover: red;
  --link-active: rgba(255, 0, 0, 0.5);

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.6em;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: grid;
  gap: 1em;
  grid-template-columns: 15% auto 10%;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 20px; */
  background-color: var(--tertiary-color);
  color: #000;
  padding: 1em;
}
.navbar img {
  width: 100%;
}

.search-container {
  grid-column: 1/4;
  width: 100%;
}

.search-container input {
  width: 60%;
  height: 50px;
  margin: auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
.search-container form {
  margin: auto;
  /* justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center; */
  text-align: center;
}

input[type=search] {
  transition: width 0.3s ease-in-out;
}

input[type=search]:focus {
  width: 100%;
  text-align: left;
}

.nav-links a {
  color: #000;
}
/* LOGO */
.logo {
  font-size: 22px;
  display: flex;
  align-items: center;
  max-width: 100px;
  /* padding: .5em; */
  /* text-align: center; */
  /* margin: auto 0; */
  /* grid-template-columns: 1fr 1fr; */
}
/* NAVBAR MENU */

 /* CSS hamburger */

/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu {
  height: 100px;
}

/* end css hamburger */



.menu {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  font-size: 18px;
  border: 1px solid #000;
}

/* .menu li */
.menu li:hover {
  /* background-color: var(--quaternary-color); */
  /* background-color: rgba(0, 0, 0, 0.08); */
  border-radius: 5px;
  transition: 1.3s ease;
}
.menu li {
  padding: 5px 14px;
  /* border-top: 1px solid #000; */
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: var(--quaternary-color);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: var(--tertiary-color);
}
.library:hover .dropdown {
  display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* HYPERLINK STYLING */
/* a:link {
  color: var(--link-main);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--link-active);
  background-color: transparent;
  text-decoration: underline;
} */

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--tertiary-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: var(--quaternary-color);
    transition: 0.3s ease; 

  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: var(--primary-color);
  }
}
/* Banner */
.banner-image {
  /* background-image: url("../images/booksHero.png"); */
  background-color: #6c7489; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.banner h2 {
  font-size: 4rem;
  padding: 2rem 1rem 1rem 3rem;
  color: var(--dark-grey);
}
.banner p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem 0.2rem 3rem;
}

/* Banner  Smaller for library results page */
.bannerS-image {
  /* background-image: url("../images/Booksstack.png"); */
  background-color: #6c7489; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.bannerS h2 {
  font-size: 4rem;
  padding: 2rem 1rem 1rem 3rem;
  color: var(--dark-grey);
}
.bannerS p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem 0.2rem 3rem;
}
.bookshelf {
  /* margin-left: 5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookshelf img {
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 2rem;
}

/* .banner form {
  font-size: 3rem;
  padding: 0.2rem 1rem 2rem 3rem;
} */
.banner2 p {
  font-size: 1.75rem;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  color: var(--dark-grey);
  text-align: center;
}

/* library toogle wrapper... extra code, needs to be cleaned up */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
}

.wrapper {
  /* padding-left: 5em; */
  display: flex;
  flex-direction: row; 
}

/* Footer Code to be cleaned up */
.main-footer {
  font-size: 0.4;
  background-color: #303030;
}

.footer-banner p {
  color: var(--primary-color);
  size: 10rem;
  padding: 3em 3em 3em 3em;
}

/* Create three equal columns that floats next to each other */
.column {
  background-color: #303030;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
}

/* Style the active class, and buttons on mouse-over */
.active {
  background-color: var(--quaternary-color);
  color: white;
  border-radius: 8px;
  transform:scale(110%); 
}
 .btn:hover {
  background-color: var(--tertiary-color);
  color: white;
  border-radius: 8px;
  transform:scale(125%);
 }

/* Design for results page search results */

.searchResults {
  max-width: 700px;
  margin: auto;
}

.result-div {
  margin: 1em 1em;
  display: grid;
  grid-template-columns: 25% 75%;
  /* align-items: center; */
  border: 1px solid var(--black);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.08);
}

.book-details {
  float: right;
  padding: 0.5em;
}

.result-div img {
  /* margin-right: 0.5em; */
  padding: 0.5em;
  width: 100%;
}
.current_shelf {
  background-color: var(--quaternary-color);
  border: none;
  font-size: 16px;
  border-radius: 7px;
  padding: 0.4em;
}
.addToShelfButtons button {
  /* float: center; */
  margin: 0.1em;
  background-color: var(--quaternary-color);
  border: none;
  /* color: var(--dark-grey); */
  color: black;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  border-radius: 7px;
}

.addToShelfButtons button:hover {
  background-color: var(--tertiary-color);
  color: rgb(100, 100, 100);
  transition:0.3s ease;
}

.addToShelfButtons button:active {
  background-color: var(--tertiary-color);
  color: rgb(255, 255, 255);
}

#my_book_lists{
  /* max-width: 700px; */
  max-width: 98%;
  margin: auto;
}

/**************************** START OF SHELF BUTTONS, CARD SIZE & Title STYLING *******************/
div#MyLIB {
  padding-bottom: 3rem;  
  width: 100%;
  display: flex;
  justify-content: center;
}

#card-container {  
  display: flex;  
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card_size {
  max-width: 400px;
}

.shelf_title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--tertiary-color);
  border: 1px solid orange;
  width: fit-content;
}
/***************************** END OF SHELF BUTTONS, CARD SIZE & Title STYLING ********************/

/**************************** START OF ALERT STYLING **********************************************/
p.alert {
  font-family: var(--font-family);
  font-size: var(--font-base);
  font-weight: 900;
  background-color: var(--tertiary-color);
  border: 1px solid orange;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  text-align: left;
  max-width: 500px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
/**************************** END OF ALERT STYLING ************************************************/


